HOST = "example.com" #sonarr host ip
PORT = 8989 #sonarr port
API_KEY = "sonarr_api_key"
UTC_DIFFERENCE = 10 #timezone utc+. optional
BANNED_WORDS = ["/ 🇮🇹", "/ 🇷🇺"] #words to exclude from torrent searches
HDR_MODE = "false" #false = no torrents with HDR 
DEBRID_KEY = "xyz" #debrid api key
JELLYFIN = "true" #whether you're using jellyfin or not
JELLYFIN_API_TOKEN = 'MediaBrowser Token="xyz"' #jellyfin api key replace xyz
JELLYFIN_HOST = "x.x.x.x" # jellyfin host ip
JELLYFIN_PORT = "8096" #jellyfin port